@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

body {
    text-align: center;
    font-family: Luckiest Guy, sans-serif;
    background: url('/assets/donut-background.png') no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

h1, h2 {
    color: #fff;
    margin-top: 45px;
}

button.donut {
    padding: 3px;
    border-style: ridge;
    border-radius: 40%;
    height: 80px;
    width: 80px;
    cursor: pointer;
}

button.donut:hover {
    border: 1px solid #fff;
    height: 82px;
    width: 82;
}

.donut img {
    width: 65px; 
}

.head {
    margin-top: 35px;
    width: 200px;
}

/* #dog-head #tail {
    display: inline-block;
} */

/* #tail {
    width: 400px;
} */

.part {
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-left: -16px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border: 26px solid;
}

.purple-donut {
    color: #a061f7;
}
.pink-donut {
    color: #f95fb5;
}
.yellow-donut {
    color: #f9e05f;
}
.blue-donut {
    color: #61f7db;
}
.green-donut {
    color: #86f761;
}

